<ion-view view-title="Octant">
  <ion-content>
    <ion-list class="__feed">						  <!--['is_read','org_id','msg_type_id','start_date']-->
      <ion-item ng-repeat="feed in feeds | orderObjectBy: [['iden',false]]" ng-class="feed.is_read ? 'read' : 'unread'">
      	<div class="list">
		    <a class="item item-thumbnail-left item-text-wrap" href="#/app/{{feed.acro}}/{{feed.link_id}}/{{feed.message_id}}" ng-click="isreadchk({{false+','+feed.link_id}})">

		      <img ng-src="{{feed.pic}}" ng-show=" feed.pic || feed.pic.length>0 ? true : false">
		      <div class="org">{{feed.iden}}
			    <img ng-src="{{feed.logo_full}}"> <h3>{{feed.name}}</h3>
		    	<h2>{{feed.message_title}}</h2>
		      	<i class="icon social {{platforms(feed.msg_type_id)}}"></i>
		      	<div class="dt" ng-show="{{feed.msg_type_id=='2'}}">
		      		<span>Event Date: {{datify(feed.event_date,'date')}}</span><br/>
		      		<!-- <span>Event Title: {{feed.message_title}}</span><br/> -->
		      		<span>Event Location: {{feed.event_location}}</span><br/>
		      		<span>Event Time: {{datify(feed.event_date,'time')}}</span>
		      	</div>
		      </div>
		      <span>
			      <div ng-show="lala == true" ng-bind-html-unsafe="feed.content">{{feed.contentPrev}}{{ feed.content.length>100 ? '...' : ''}}</div>
			      <div ng-show="lala == false" ng-bind-html="feed.content">{{feed.content}}</div>		      	
		      </span>
		    </a>
			<div class="actionBar">
 				<a type="button" ng-show="{{feed.content.length > 100}}" class="button button-small button button-positive seemore" ng-click="lala = lala === false ? true: false;isreadchk({{feed.message_id+','+feed.link_id}})">see {{lala === false ? 'less': 'more';}}</a>
		    	<button class="button button-circle button-small" ng-click="donatetoorg(feed.org_id)"><img src="img/1.png" /></button>
		    	<a class="button button-circle button-small" href="{{feed.event_link}}" target="_blank" ng-show="{{feed.msg_type_id=='2'}}"><img src="img/2.png" /></a>
 		    	<!-- <button class="button button-circle button-small"><img src="img/share.png" /></button> -->
		    </div>
		</div>
		<div style="clear:both"></div>
      </ion-item>
    </ion-list>
    <br/><br/>
  </ion-content>
</ion-view>