<div id="__signup">

  <div class="card __logo">
    <img class="__img" src="img/octant_logo.png">
  </div>

  <h3>Sign Up with Facebook</h3>

  <div class="card">

    <ul class="list">

      <li class="__signupForm">
        <div class="item item-input">
          <input type="text" placeholder="Email Address">
        </div>

        <div class="item item-input">
          <input type="password" placeholder="Password">
        </div>

        <div class="item item-input">
          <input type="text" placeholder="First Name">
        </div>

        <div class="item item-input">
          <input type="text" placeholder="Last Name">
        </div>

        <div class="item item-input">
          <input type="text" placeholder="Zip Code">
        </div>

        <div class="item item-icon-left">
          <i class="icon">
           <label class="checkbox">
             <input type="checkbox">
           </label>
          </i>
           <a href="#" class="Button Button-clear" ng-click="terms()">Terms &amp; Condition</a><br/>
           <a href="#" class="Button Button-clear" ng-click="privacy()">Privacy Policy</a>
        </div>
        
      </li>



      <li class="__loginButton">
        <br/>
        <button class="button button-block button-outline button-positive"  ui-sref="app.home">
          Sign Up
        </button>
      </li>

    </ul>

  </div>

</div>
