<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Terms &amp; Conditions</h1>
  </ion-header-bar>
  <ion-content ng-controller="tncController"  class="__terms">

    <div ng-repeat="term in terms">
      <ion-item class="item-stable"
                ng-click="toggleGroup(term)"
                ng-class="{active: isGroupShown(term)}">
          <i class="icon" ng-class="isGroupShown(term) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        {{term.head}}
      </ion-item>
      <ion-item class="item-accordion"
                ng-show="isGroupShown(term)">
        <span ng-repeat="item in term.body" ng-bind-html="item.html">
        </span>
      </ion-item>
    </div>

  </ion-content>
  <ion-footer-bar align-title="left" class="bar-positive">
    <div class="buttons" ng-click="closeMod()">
      <button class="button pull-right">Okay</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
